:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 82.5%;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  padding: 0.2rem 0.7rem;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(93, 114, 255);
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

img {
  width: 100%;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.footer {
  background-color: rgb(78, 0, 78);
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: underline;
}

.name-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}

.margin-left-small {
  margin-left: 0.7rem;
}

.text-center {
  text-align: center;
}

button[type="submit"] {
  background-color: rgb(231, 122, 255);
  width: 60%;
  margin: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: rgb(181, 0, 0);
}

.title {
  font-size: 1.3rem;
  text-decoration: underline;
  margin-top: 1rem;
}

/* extra stuff btns in create recipe */
.middle-btn {
  margin: 1rem;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

textarea {
  resize: none;
  font-family: inherit;
}
